.footer {
  background-color: $footer-background;
  color: $footer-black;

  .wrapper {
    width: 83.33333%;
  }

  .block {
    padding: calculateRem(105) 0 calculateRem(77);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 1200px) {
      text-align: center;
    }
  }

  .footer__block {
    @media (max-width: 768px) {
      padding-bottom: calculateRem(75);
      width: 50%;
      margin: 0 auto;
    }
    @media (max-width: 1200px) {
      width: 33.3%;
      padding-bottom: calculateRem(100);
    }
  }

  .footer__title {
    font-size: $font-size-large;
    font-family: $font-family-CormorantUnicase-Regular;
    text-transform: uppercase;
    margin-bottom: calculateRem(42);
  }

  .footer__info-production {
    font-family: $font-family-Roboto;
    font-size: calculateRem(12);
    width: calculateRem(166);
    padding-bottom: calculateRem(20);
    line-height: 2;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .footer__info-contact {
    font-family: $font-family-Roboto;
    font-weight: bold;
    padding-bottom: calculateRem(12);
  }

  .footer__info-contact:last-child {
    padding-bottom: 0;
  }

  .footer__subtitle-about {
    font-family: $font-family-Roboto;
    font-size: calculateRem(18);
    padding: calculateRem(5) 0 calculateRem(43);
  }

  .footer__about-list {
    list-style: none;
  }

  .footer__about-link {
    color: $footer-black;
  }

  .footer__about-item {
    margin-bottom: calculateRem(12);
  }

  .footer__about-link:hover {
    text-decoration: underline;
  }

  .footer__questions-subtitle {
    font-family: $font-family-Roboto;
    font-size: calculateRem(18);
    margin: calculateRem(5) 0 calculateRem(43);
  }

  .footer__questions-list {
    list-style: none;
  }

  .footer__questions-link {
    color: $footer-black;
  }

  .footer__questions-item {
    margin-bottom: calculateRem(12);
  }

  .footer__questions-link:hover {
    text-decoration: underline;
  }

  .footer__join-subtitle {
    font-family: $font-family-Roboto;
    font-size: calculateRem(18);
    margin: calculateRem(5) 0 calculateRem(43);
  }

  .footer__join-svg {
    margin-right: calculateRem(18);
    transition: 0.2s linear;

    &:hover {
      fill: $font-color-red;
      transition: 0.2s linear;
    }
  }

  .footer__news-subtitle {
    font-family: $font-family-Roboto;
    font-size: calculateRem(18);
    margin: calculateRem(5) 0 calculateRem(43);
  }

  .footer__news-sale {
    padding-bottom: calculateRem(15);
    width: calculateRem(180);
    line-height: 2;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .footer__news-sale:last-child {
    padding-bottom: calculateRem(25);
  }

  .footer__block5 {
    .footer__news-subtitle {
      font-family: $font-family-Roboto;
      font-size: calculateRem(18);
      margin: calculateRem(5) 0 calculateRem(43);
    }

    .footer__news-sale {
      padding-bottom: calculateRem(15);
    }

    .footer__news-sale:last-child {
      padding-bottom: calculateRem(25);
    }
  }
}

.block2 {
  background-color: #222222;
  display: flex;
  text-align: center;

  .block2__rights {
    color: $font-color-white;
    padding: calculateRem(20) 0 calculateRem(22);
  }
}

.footer__news-button-plane {
  height: calculateRem(45);
  width: 25%;
  border: none;
  border-right: 1px solid $footer-font-black;
  background-color: $footer-black;
  background-image: url(../img/paper-airplane-outline.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  &:hover {
    color: $font-color-red;
    transition: .2s linear;
  }
}

.footer__news-btn {
  margin: 0 auto;
  width: 200px;
  display: flex;
}

.footer__news-button {
  width: 75%;
  height: calculateRem(45);
  background-color: $footer-black;
  border: none;
  color: $font-color-white;
  cursor: pointer;
  &:hover {
    color: $font-color-red;
    transition: .2s linear;
  }
}
@media (max-width: 768px) {
   .footer__modifier:not(:last-child) {
     margin-bottom: 25px;
   } 
   .footer__modifier {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .block {
      flex-wrap: wrap;
    }
    .footer__modifier {
      width: 33%;
    }
}
.footer__modifier {
  text-align: left;
}