

.main {
  padding: calculateRem(60) 0 calculateRem(110) 0;

}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.content-box:not(:nth-child(n+10)) {
  margin-bottom: calculateRem(60);

}
.content-box {
  width: 23%;
  min-height: 100px;

  @media (max-width: 500px) {
    margin-bottom: calculateRem(60);
    width: 60%;
    margin: 0 auto;
  }
  @media (min-width: 769px) and (max-width:1000px) {
    width: 30%;
  }
  @media (min-width: 500px) and (max-width:768px) {
    width: 45%;
  }
  &__float-btn {
    background-color: transparent;
    border: none;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__img-holder {
    position: relative;
    margin-bottom: calculateRem(22);

    &:hover .content-box__learn-more {
      opacity: 1;
      transition: .2s linear;
    }
  }

  &__learn-txt {
    font-size: calculateRem(12);
    font-family: $font-family-Roboto;
    font-weight: 500;
    transition: .2s linear;
    @media (min-width: 1000px) {
      font-size: calculateRem(14);
    }
    &:hover {
      
      transition: .2s linear;
      text-decoration: underline;

    }
  }

  &__collection {
    margin-bottom: calculateRem(18);
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family-Roboto;
    font-size:  calculateRem(13);
      @media (min-width: 1000px) {
        font-size: calculateRem(15);
    }
  }

  &__collection-name {
    margin-bottom: calculateRem(15);
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    // min-width: 80%;
    &:after {
      content: " ";
      display: inline-block;
      width: 1px;
      background-color: black;
      height: 15px;
      position: absolute;
      left: 51%;
    }
      & .text {
        font-family: $font-family-Roboto;
        font-size: calculateRem(13);
        flex-basis: 70px;
        @media (min-width: 1000px) {
          font-size: calculateRem(15);
          }

      }
  }

  &__collection-price {

  display: flex;
  justify-content: center;
  text-align: center;
  & > span {
    font-size: calculateRem(13);
    @media (min-width: 1000px) {
      font-size: calculateRem(15);
    }
  }
    &__red {
      color: $font-color-red;
      flex-basis: 50px;
      
    }

    &__throught {
      text-decoration: line-through;
      flex-basis: 40px;
    }
  }

  &__learn-more {
    position: absolute;
    transform: translate(0, -100%);
    background-color: $main-learn-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calculateRem(13);
    width: 100%;
    opacity: 0;
    transition: .2s linear;
    
    .btn {
      border-radius: 20%;
      height: calculateRem(30);
      width: calculateRem(30);
      cursor: pointer;
      transition: .2s linear;
      
      &:hover {
        fill: $font-color-red;
        transition: .2s linear;
      }
    }
  }

  &__sale {
    position: absolute;
    color: $font-color-red;
    right: calculateRem(25);
    top: calculateRem(25);
    padding: calculateRem(30) calculateRem(20);
    border-radius: 50%;
    background-color: $font-color-white;
    font-size: calculateRem(12);
    
  }
}
