.wrapper-review {

    width: 43%;
    margin: 0 auto;
    padding: calculateRem(85) 0;
    .review-head {
        text-align: center;
        margin-bottom: calculateRem(80);
        &_top {
            text-transform: uppercase;
            font-size: calculateRem(18);
            font-family: $font-family-Roboto;
            font-weight: 200;
            padding: calculateRem(30) 0;
        }
        &_discription {
            font-size: calculateRem(16);
            padding-bottom: calculateRem(40);
        }
        &_btn {
            padding: calculateRem(15) calculateRem(40);
            background-color: transparent;
            border: 1px solid $footer-font-black;
            cursor: pointer;
            transition: .2s linear;
            &:hover {
                color: $font-color-red;
                border-color: $font-color-red;
                transition: .2s linear;
            }
        }
    }
    .review-main {
        display: flex;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        &:not(:first-child) {
            border-top: 1px solid $footer-font-black;
        }
        &_navigation {
            padding-top: calculateRem(70);
            .navigation_list {
                list-style: none;
                display: flex;
                width: 20%;
                margin: 0 auto;
                @media (max-width: 1200px) {
                    width: 50%;
                }
            }
            .navigation_item {
                &:not(:last-child) {
                    margin-right: calculateRem(15);
                }
                &:first-child {
                    margin-right: calculateRem(35);
                }
                &:last-child {
                    margin-left: calculateRem(20);
                }
                .link {
                    font-size: calculateRem(14);
                    font-family: $font-family-Roboto;
                    &:hover {
                        color: black;
                    }
                    &:hover .svg {
                        fill: black;
                    }
                    color: $footer-font-black;
                    .svg {
                        fill: $footer-font-black;
                    }
                }
            }
        }
        

        padding: calculateRem(40) 0;
        &_post {
            .post {
                font-size: calculateRem(16);
                line-height: 2;
                font-family: $font-family-Roboto;
                margin-bottom: calculateRem(20);
            }
            .rvw-btn {
                border: none;
                background-color: transparent;
                color: $font-color-red;               
                font-size: calculateRem(16);
                cursor: pointer;
            }
        }
        &_user-info {
            width: 25%;
            @media (max-width: 1200px) {
                width: 100%;
            }
            .user-info {
                text-transform: uppercase;
                margin-bottom: calculateRem(18);
            }
            .post-date {
                font-size: $font-size-very-small;
                margin-bottom: calculateRem(16);
 
            }
            .sale-acception {
                margin-bottom: calculateRem(16);
                &_svg {
                    margin-right: calculateRem(5);
                    
                }
            }
        }
        .stars-svg {
            fill: $font-color-red;
            cursor: pointer;
            &:hover {
                fill: #e9b90e;
            }
        }
        &_post {
            width: 70%;
            @media (max-width: 1200px) {
                width: 100%;
            }
        }
    }
}