// @import "compass/css3";

// @import "compass";
@import url("https://fonts.googleapis.com/css?family=Lato");


$select-color: #212121;
$select-background: rgb(247, 229, 224);
$select-width: 220px;
$select-height: 40px; 

body { 
//   font-family: Lato, Arial;
//   color: $select-color;
//   padding: 20px;
//   background-color: $background;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  span { 
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
// p {
// //   margin-top: 200px;
//   a {
//     text-transform: uppercase;
//     text-decoration: none;
//     display: inline-block;
//     color: #fff;
//     padding: 5px 10px;
//     margin: 0 5px;
//     background-color: darken($select-background, 2);
//     @include transition(all 0.2s ease-in);
//     &:hover {
//       background-color: darken($select-background, 5);
//     }
//   }
// }
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  opacity: 0.8;
  z-index: 60;
  width: 50% !important;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: $select-color;
  height: $select-height;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 15px;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  transition: all 0.2s, ease-in;

  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    
    background-color: darken($select-background, 5);
    &:after {
        
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    transition: all 0.2s, ease-in;
    border-radius: 15px;
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
.select-flex {
    display: flex;
    flex-wrap: wrap;
}
.select-input {
    width: 50%;
    margin: 0 auto;
    padding: 10px 50px;
    font-size: 16px;
    background-color: $select-background;
    border: none;
    opacity: 0.8;
    color: #212121;
}