$font-color-white: #ffffff;
$font-color-grey: #dddddd;
$font-color-red: #e73331;
$footer-black: #333333;
$footer-background: #efefef;
$footer-font-black: #979797;
$font-color-main: #000000;

$font-size-large: 28px;
$font-size-medium: 18px;
$font-size-small: 13px;
$font-size-very-small: 12px;

$font-family-Roboto: 'Roboto', Arial, sans-serif;
$font-family-Roboto-Medium: 'Roboto-Medium', Arial, sans-serif;
$font-family-CormorantUnicase-Regular: 'CormorantUnicase-Regular', Arial, sans-serif;
$font-family-CormorantUnicase-Bold: 'CormorantUnicase-Bold', Arial, sans-serif;

